*{
	font-family: Helvetica;
	margin:0;
	padding:0;
}

h2{
	margin: 15px;
}

.content{
	width:100%;
}

.top-content{
	background-image: -moz-linear-gradient(#FAFAFA,#EAEAEA);
	background-image: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
	border-bottom: 1px solid #AFAFAF;
	height:50px;
	line-height:50px;
}

.inner-content{
	width:940px;
	position:relative;
	margin:0 auto;
}

.inner-content .header h1{
	margin:0;
}

.inner-content .header .nav{
	position:absolute;
	right:0;
	bottom:0;
}

.inner-content .header .nav ul{
	list-style:none;
}

.inner-content .header .nav ul li{
	float:left;
	margin: 0 0 0 10px;
}

.inner-content .header .nav ul li a{
	text-decoration:none;
	color:black;
	font-weight: bold;
}

.inner-content .header .nav ul li a:hover{
	color:grey;
}

.boxed-content{
	border: thin solid #AFAFAF;
	margin: 20px 0;
}

.data-line{
	width:100%;
	height: 30px;
}

.data-line .input-text{
	margin-left:10px;
	width:200px;
}

.data-line .input-button{
	margin-left:10px;
	width:130px;
}

.data-line label{
	margin-left:10px;
	width:200px;
}

.advert-item{
	width:33%;
	float:left;
	text-align:center;
	margin: 10px 0;
}

.advert-item img{
	width:176px;
	height:66px;
}

.advert-item input{
	width:120px;
}

.map{
	position:absolute;
	width:49%;
	left:0;
}

.events{
	width:49%;
	position:absolute;
	right:0;
}

.event{
	width:95%;
	border: thin dotted #AFAFAF;
	margin: 10px auto;
	font-size:14px;
	text-align:center;
}

.event .data-line{
	margin:0;
	height:20px;
}
